*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(./images/background.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 6%;
    padding-right: 7%;
}
.logo{
    color: antiquewhite;
    font-size: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}
span{
    color: #18A4F6;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: antiquewhite;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #18A4F6;
    font-size: 16px;
    transition: .1s;
}
nav a{
    color: antiquewhite;
    text-decoration: none;
}
.content{
    position: absolute;
    color: antiquewhite;
    top: 50%;
    left: 10%;
    transform: translateY(-40%);
}
h1{
    color: antiquewhite;
    margin: 20px 0px 20px;
    font-size: 70px;
}
h3{
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    letter-spacing: 2px;
    font-size: 20px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
    margin-left: 70px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-text h2{
    color: antiquewhite;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding-left: 50px;
}
.about-text h5{
    color: antiquewhite;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding-left: 50px;
}
.about-text p{
    color: antiquewhite;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    padding-left: 50px;
}
button{
    background-color: #18A4F6;
    margin-left: 250px;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .3s;
}
button a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 15px;
}
button:hover{
    background-color: transparent;
    border: 2px solid #18A4F6;
    cursor: pointer;
}
.services{
    padding: 100px 0px;
    background-color: #101010;
}
.title h2{
    color: antiquewhite;
    font-size: 70px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
h5{
    color: antiquewhite;
    font-size: 23px;
    margin-bottom: 20px;
}
.paragraph{
    color: whitesmoke;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.contact{
    width: 100%;
    padding: 100px 0px;
    background-color: #18A4F6;
}
.contact p{
    color: antiquewhite;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 35%;
}
.contact .button-2{
    background-color: black;
    margin-left: 850px;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .3s;
}
.contact  a{
    text-decoration: none;
    color: antiquewhite;
}
.contact .button-2:hover{
    color: black;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    padding: 100px 0px;
    background-color: black;

}
footer p{
    color: antiquewhite;
    font-size: 10px;
    letter-spacing: 2px;
    justify-content: space-between;
    padding-left: 40px;
}
footer ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    margin-left: 350px;

}

footer a{
    color: antiquewhite;
    justify-content: space-between;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
footer a:hover{
    color: #18A4F6;
    font-size: 21px;
    transition: .1s;
}
